body{
    padding: 1px;
    margin: 3px;
}
td{
    border: 1px solid rgba(0, 0, 0, .7);
    width: 20px;
    height: 20px;
}
button{
    border:1px solid black;
    background-color: beige;
}
button:hover{
    background-color: rgba(220, 245, 223, 0.795);
}
.unvisited{
    background-color: azure;
}
.visited{
    background-color: green;
}
.src{
    background-color: aqua;
}
.wall{
    background-color: grey;
}
.path{
    background-color: burlywood;
}
.sink{
    background-color: red;
}
#menu{
    position:fixed;
    width: 11%;
    height: 99.2%;
    border: 1px solid rgba(0, 0, 0, .7);
    margin-right: 2px;
}
#board{
    position:fixed;
    margin-left:1px;
    left: 11.5%;
    border-collapse: collapse;
}